.main-body {
  margin-top: 20px;
}

.space-left {
  margin-left: 10px;
}

.space-above {
  margin-top: 15px;
}

.center-text {
  text-align: center;
}

.indent {
  padding-left: 10px;
}

.rankings {
  background-color: #dcbfbf;
}

.header {
  background-color: #d3d3d3;
}

.stats-title {
  display: inline;
  margin-right: 10px;
}

.hidden {
  display: none;
}

.banner-img {
  display: block;
  margin: 0 auto; 
  margin-top: 70px;
}

.small-img {
  width: 400px;
  height: 250px;
  margin-top: 80px;
}

.fixed {
  position:fixed;
}

.wrapper {
  overflow:auto;
}

.big-table {
  width: 90%;
  margin: 0 auto; 
}